/* Generales */

header {
	background: url(../images/imagenes/principal.jpg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;

}
	
html {
  scroll-behavior: smooth;
}

body {
	background: url(../images/graficos/background.svg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

button { 
	padding: .5em 1.5em;
	background-color: white;
	border: solid rgba(255, 255, 255, 1) 2px;
	border-radius: 30px;
	font-weight: 700;
	font-size: 18px;
	color: skyblue;
	cursor: pointer !important;
}

p{
	color: white;
}

h1{
	color: white;
	font-size: 25px;
	margin-bottom: 2em;

}

h2{
	color: white;
	font-size: 25px;
}

h3{
	font-size: 16px;
    color: white;
    font-weight: normal;
}

figure{
	margin: 10px;
}

.nombres{
	font-size: 20px;
	color: #2D368F;
}

.elcurso{
	margin-top: 3em;
}
.testimonios{
	display: block;
    margin: 4em 5%;
    background-color: white;
    width: 80%;
    padding: 5%;
    border-radius: 40px;
    color: #2D337F;
}

#descripcion{
	margin: 1em 5%;
}

.logoum {
	width: 100%;
	height: 100%;
	justify-content: right;
	}

.logovirtual {
	width: 100%;
	height: 100%;
	
}

.imgprincipal {
	display: grid;
	width: 100%;
	height: 100%;

}

.beneficio{
	display: grid;
	grid-template: 3fr 3fr  / 2fr 2fr;

}


#beneficios{
	width: 90%;
	margin: 1em 5%;

}

.beneficio1, .beneficio2, .beneficio3, .beneficio4{
	width: 80px;
	
}


.fotostest{
	width: 43%;
	border-radius: 50%;
	box-shadow: 1px 0px 0 8px #2DC0D3;
	margin-top: -33px;
}

.diagrama{
	width: 100%;
}

.testimoniotext{
	color:#2D368F;
	text-align: center;
}

.instagram, .facebook, .twitter, .whatsapp{
	width: 100%;

}

.virtualfooter, .umfooter{
	width: 100%;
}



.redesfoot{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-rows: 1fr;
	align-self: auto;
	margin: auto;
	padding: auto;
	grid-column-gap: 5%;

}

#siguenos{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 6em;
}

#derechos{
	grid-column-start: 1;
	grid-column-end: 3;
}

#tegustaria{
	color: white;
	font-size: 25px;

}

#enviar{
	margin-top: 1em;
	margin-bottom: 3em;
}

input{
	border-radius: 5px;
	max-width: 400px;
	width: 90%;
	height:30px;
	border: 0;
	margin: 5px 0;
	padding-left: 1em; 
	font-size: 16px;
}

footer {
	background-color: #3C4EA1;

}


@media screen and (min-width: 768px) {

	/*aqui inician los estilos de tablet*/
h1{
	font-size: 42px;

}

h2{
	font-size: 30px;
	grid-column-start: 1;
	grid-column-end: 4; 
}

h3 {
    font-size: 25px;
}

#logostop{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	width: 100%;
	margin-bottom: 1em;
}

button {
	font-size: 22px;
}

.elcurso {
    font-size: 18px;
}

.beneficio1, .beneficio2, .beneficio3, .beneficio4{
	width: 150px;
	
}

#testimonios{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80px 1fr;
	width: 100%;
	margin-bottom: 1em;
}

.redesfoot {
   	grid-template-columns: 15% 15% 15% 15%;
    grid-column-gap: 3%;
    justify-content: center;
}


	/*aqui terminan los estilos de tablet*/
}




@media screen and (min-width: 1024px) {

	/*aqui inician los estilos de laptop*/

h1{
	font-size: 70px;
}

#logostop{
	grid-template-columns: 40% 40%;
	grid-gap: 15em;
	width: 100%;
	margin-bottom: 1em;

}

.elcurso {
    font-size: 27px;
}

h2 {
    font-size: 40px;
  }

.beneficio {
    grid-template: 1fr  / 25% 25% 25% 25%;
    margin-bottom: 5em;
}


.testimonios {
    margin: 2em 4em;
    width: 54%;
    border-radius: 40px;

}







	/*aqui terminan los estilos de laptop*/
}

