/* Generales */

header {
	background: url(../images/imagenes/principal.jpg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;

}
	
html {
  scroll-behavior: smooth;
}

body {
	background: url(../images/graficos/background.svg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

button {
	height: 45px;
	min-height: 24px;
	width: 160px;
	background-color: white;
	border: solid rgba(255, 255, 255, 1) 2px;
	border-radius: 30px 30px 30px 30px;
	font-weight: 700;
	font-size: 18px;
	color: skyblue;
	cursor: pointer !important;
}

p{
	color: white;
}

h1{
	color: white;
	font-size: 25px;

}

h2{
	color: white;
	font-size: 25px;
}

h3{
	font-size: 16px;
    color: white;
    font-weight: normal;
}

figure{
	margin: 10px;
}

.nombres{
	font-size: 20px;
	color: #2D368F;

}

.testimonios{
	display: block;
    margin: 4em 5%;
    background-color: white;
    width: 80%;
    padding: 5%;
    border-radius: 40px;
    color: #2D337F;
}

#descripcion{
	margin: 1em 5%;
}

.logoum {
	width: 100%;
	height: 100%;
	justify-content: right;
	}

.logovirtual {
	width: 100%;
	height: 100%;
	
}

.imgprincipal {
	display: grid;
	width: 100%;
	height: 100%;

}

.beneficio{
	display: grid;
	grid-template: 3fr 3fr  / 2fr 2fr;

}


#beneficios{
	width: 90%;
	margin: 1em 5%;

}

.beneficio1{
	width: 80px;
	height: 80px;
	
}

.beneficio2{
	width: 80px;
	height: 80px;
}

.beneficio3{
	width: 80px;
	height: 80px;
}

.beneficio4{
	width: 80px;
	height: 80px;
}

.fotostest{
	width: 43%;
	border-radius: 50%;
	box-shadow: 1px 0px 0 8px #2DC0D3;
	margin-top: -33px;
}

.diagrama{
	width: 100%;
}

.testimoniotext{
	color:#2D368F;
	text-align: center;
}

.instagram, .facebook, .twitter, .whatsapp{
	width: 100%;

}

.virtualfooter, .umfooter{
	width: 100%;
}



.redesfoot{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-rows: 1fr;
	align-self: auto;
	margin: auto;
	padding: auto;
	grid-column-gap: 5%;

}

#siguenos{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 6em;
}

#derechos{
	grid-column-start: 1;
	grid-column-end: 3;
}

#tegustaria{
	color: white;
	font-size: 25px;

}

#enviar{
	margin-top: 1em;
	margin-bottom: 3em;
}

input{
	border-radius: 5px;
	width: 90%;
	height:30px;
	border: 0;
	margin: 5px 0;
	padding-left: 1em; 
}

footer {
	background-color: #3C4EA1;
	max-height: 210px;

}


@media screen and (min-width: 768px) {

	/*aqui inician los estilos de tablet*/

header {
	background: url(../images/imagenes/principal.jpg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;

}

h1{
	font-size: 60px;
}

h2{
	font-size: 40px;
	text-align: center;
}

.logoum{
	width: 90%
}

.logovirtual{
	width: 110%;
}

.logostop{
	display: grid;
	width: 100%;
	grid-template-columns: 55% 55%;
	grid-template-rows: 4em 4em;
	}



#descripcion{
	font-size: 20px;
	text-align: center;
	margin-top: 4em;

}

.contenedor{
	width: 100%;
}


.beneficio1{
	width: 100px;
	
	
}

.beneficio2{
	width: 100px;
	
}

.beneficio3{
	width: 100px;
	
}

.beneficio4{
	width: 100px;
	
}

.beneficiostodos{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.beneficio{
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin-bottom: 5px;
    align-items: center;

}

.testimonio{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 1fr 1fr;
	align-items: center;
}

.testimonios{
	display: block;
    margin: 4em 5%;
    background-color: white;
    width: 80%;
    padding: 5%;
    border-radius: 40px;
    color: #2D337F;
}

.fotostest{
	width: 131px;
	border-radius: 30%;
	box-shadow: 1px 0px 0 8px #2DC0D3;
	}

.redesfoot{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 1fr;
	align-items: : center;
	margin: auto;
	grid-column-gap: 1px;

}

.virtualfooter{
	width: 300px;
}

.umfooter{
	width: 300px;
}

.social{
	width: 45px;
}


#siguenos{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 3fr 6em;
}

#derechos{
	text-align: center;
	width: 170%;
	margin-bottom: 8px;
}

footer{
	width: 100%;
	height: 100%;
	background-color: #3C4EA1;

}
	/*aqui terminan los estilos de tablet*/





@media screen and (min-width: 1024px) {

	/*aqui inician los estilos de laptop*/

header {
	background: url(../images/imagenes/principal.jpg) no-repeat top center;
	background-size: cover;
	padding: 0;
}

button{
	height: 45px;
	min-height: 24px;
	width: 160px;
	background-color: white;
	border: solid rgba(255, 255, 255, 1) 2px;
	border-radius: 30px 30px 30px 30px;
	font-weight: 700;
	font-size: 18px;
	color: skyblue;
	cursor: pointer !important;
	margin-top: 3em;
	margin-bottom: 6em; 
}

body {
	background: url(../images/graficos/background.svg) no-repeat top center;
	padding: 1em 5% 6em;
	background-size: cover;
	margin: 0; 	
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1{
	font-size: 70px;
}

p{
	color: #2A3B8F;
}

footer{
	display: inline-grid;
	background-color: #2A3B8F;
	background-size: 40%;
	padding: 1em 10% 7em;

}

.elcurso{
	color: white;
	font-size: 25px;

}

.sub{
	font-size: 35px;
}

.contenedor{
	width: 100%;
	
}

}
.logoum {
	display: grid;
	width: 45%;
	height: 45%;
	justify-content: right;
	}

.logovirtual {
	display: grid;
	width: 45%;
	height: 45%;
}


.tablabeneficios{
	display: grid;
	padding: 10px;

}

.beneficio1{
	
	border: 1px;
	padding: 20px;
	font-size: 50px;
	text-align: center;
	grid-column-gap: 50px;
}

.beneficio2{
	
	border: 1px;
	padding: 20px;
	font-size: 50px;
	text-align: center;
	grid-column-gap: 50px;
}


.beneficiostodos{
	display: grid;
	grid-template: 3fr 3fr  / 2fr 2fr;
}


.fotostest{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	box-shadow: 1px 0px 0 8px #2DC0D3;
}


#testimonios{
	display: block;
	margin: auto;
	width: 70%;
	margin-top: -95px;
	color: yellow;
}

.testimonio{
	display: block;
	margin: 30px auto;
	background-color: white;
	width: 55%;
	padding: 5%;
	border-radius: 70px;
	margin-bottom: 40px;
	margin-top: 95px;
}

.diagrama{
	width: 700px;
	height: 700px;
}

.redesfoot{
	display: grid;
	grid-template-columns: 60px 60px 60px 60px;
	grid-template-rows: 3px;
	margin: auto;
	padding: auto;
}












	/*aqui terminan los estilos de laptop*/


