/* Generales */
body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#curso {
	background-color: blue;
}

#descripcion {
	background-color: red;
}

#beneficios{
	width: 40px;
	height: 60px;

}

#testimonios {

}